<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bienvenido a Flask Notes</h2>
    <ul>
        {% for note, date, id in zip(notes, dates, ids) %}
        <li>
            (Last modified {{ date }}) | {{ id }} {{ note.title }}:{{ note.content }}
            <a href="{{ url_for('edit_note', id=note.id)}}">edit</a>
        </li>
        {% else %}
        Aun no se han creado notas
        {% endfor %}
    </ul>

    <a href="{{ url_for('create_note') }}"><b>Agregar una nueva nota</b></a>
</body>
</html>